<!-- templates/home.html -->
<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="myPage">

<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Student Portal</a>
  <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Team</a>
  <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Work</a>
  <a href="#study" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Study</a>
  <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
    <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Student AI<i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="https://studentrecommendation.eastus.azurecontainer.io/" class="w3-bar-item w3-button">Course Recommendations</a>
      <a href="{% url 'qasearch' %}" class="w3-bar-item w3-button">Student QA</a>
      <a href="{% url 'simple_upload' %}" class="w3-bar-item w3-button">Student Documents</a>
      <a href="#" class="w3-bar-item w3-button">more to come</a>
    </div>
  
  </div>
  <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Login</a> 
 
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">Team</a>
    <a href="#work" class="w3-bar-item w3-button">Work</a>
    <a href="#study" class="w3-bar-item w3-button">Study</a>
    <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    <a href="https://studentrecommendation.eastus.azurecontainer.io/" class="w3-bar-item w3-button">Student AI - College</a>
    <a href="{% url 'qasearch' %}" class="w3-bar-item w3-button">Student AI - QA</a>
    <a href="#" class="w3-bar-item w3-button">Search</a>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="/static/images/bg2.jpg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Home Page">Generative AI for Education</button>
  </div>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Welcome to the BITS Generative AI for Education</h4>
      <h5>A tool to compare and evaluate options: Assign weights to different criteria and score each option based on those criteria to arrive at a rational decision. <i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>Certainly, making the right decision often involves considering various factors and using appropriate tools to gather information and analyze the situation.</p>
      <p>Please use the tools and approaches you might find useful for decision-making</a> to learn more!</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Thank You for checking out the AI Portal and Good Luck </p>
    </footer>
  </div>
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>OUR TEAM</h2>

<center>
  <p>- Support and guide students through their academic journey</p>
  <p>- Help students navigate challenges and achieve their goals</p>
  <p>- Provide a safe and confidential space for students to express themselves and explore solutions</p>
  <p>- Focus on interviews, and letters of recommendation for success in college admissions process</p>
  <p>- Collaborative effort ensuring comprehensive and personalized guidance for students</p>
</center>

<div class="w3-row"><br>


<div class="w3-quarter">
  <img src="/static/images/av4.png" alt="Person" style="width:45%">
  <h3><b>Nandini</b></h3>
  <p>Student Counselor</p>
</div>

<div class="w3-quarter">
  <img src="/static/images/av3.png" alt="Person" style="width:45%">
  <h3><b>John</b></h3>
  <p>Student Counselor</p>
</div>

<div class="w3-quarter">
  <img src="/static/images/av4.png" alt="Person" style="width:45%">
  <h3><b>Divya</b></h3>
  <p>Student Counselor</p>
</div>

</div>
</div>

<!-- login module start-->


<!-- login module ends-->

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-quarter">
<h2>Our Work</h2>
<p>- Business Intelligence Technology Solutions, LLC is spearheading the development of GenAI strategies through the integration of cutting-edge technology.</p>
<p>- In collaboration, ALPHA SENTIENCE team is poised to empower individuals by facilitating connections with a team of college admission experts meticulously selected to align with individual interests and goals.</p>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="/static/images/college-campus.jpg" alt="Snow" style="width:100%">
  <div class="w3-container">
  <h3><b>Australia Universities</b></h3>
  <h4>- ATMC</h4>
  <p>- Blue Mountain Hotel School</p>
  <p>- CDU</p>
  <p>- Central Queensland University (CQU)</p>
  <p>- CHISHOLM</p>
  <p>- Curtin University Perth</p>
  <p>- and more</p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="/static/images/college-campus.jpg" alt="Lights" style="width:100%">
  <div class="w3-container">
  <h3><b>Canada Universities</b></h3>
  <h4>- Camberian College, Ontario</h4>
  <p>- Centennial College, Ontario</p>
  <p>- Fleming College, Ontario</p>
  <p>- International College of Manitoba, Manitoba</p>
  <p>- Fraser International College, BC</p>
  <p>- and more</p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="/static/images/college-campus.jpg" alt="Mountains" style="width:100%">
  <div class="w3-container">
  <h3><b>United Kingdom Universities</b></h3>
  <h4>- Aberdeen University</h4>
  <p>- Abertay Dundee University</p>
  <p>- Aberystwyth University of Wales</p>
  <p>- Anglia Ruskin University</p>
  <p>- Arts University Bournemouth</p>
  <p>- Aston University</p>
  <p>- and more</p>
  </div>
  </div>
</div>

</div>

<!-- Container -->
<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
  style="position:absolute;top:-28px;right:24px">+</a>
</div>

<!-- Study Row -->
<div class="w3-row-padding w3-center w3-padding-64" id="study">
    <h2>Why study abroad</h2>
    <p>See the world, experience a new culture, dive into a world-class education – and prepare for your global future.</p><br>
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Find a course</p>
        </li>
        <li class="w3-padding-16"><b>Engineering, Management, and IT</b></li>
        <li class="w3-padding-16"><b>Building and Architecture</b></li>
        <li class="w3-padding-16"><b>Human Welfare Studies And Services</b></li>
        <li class="w3-padding-16"><b>Accounting and Finance</b></li>
        <li class="w3-padding-16">
          <h4 class="w3-wide"><b>Chemistry, Biological, Pharmacy and Life Sciences</b></h4>
          <span class="w3-opacity">and more courses</span>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme-l2">
          <p class="w3-xlarge">Find a university</p>
        </li>
        <li class="w3-padding-16"><b>Australia</b></li>
        <li class="w3-padding-16"><b>Canada</b></li>
        <li class="w3-padding-16"><b>United Kingdom</b></li>
        <li class="w3-padding-16"><b>United States</b></li>
        <li class="w3-padding-16">
          <h4 class="w3-wide"><b>New Zealand</b></h4>
          <span class="w3-opacity">and more Universities</span>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Scholarships</p>
        </li>
        <li class="w3-padding-16"><b>Destination-specific scholarships</b></li>
        <li class="w3-padding-16"><b>Merit-based scholarships</b></li>
        <li class="w3-padding-16"><b>Need-based scholarships</b></li>
        <li class="w3-padding-16"><b>Athletic scholarships</b></li>
        <li class="w3-padding-16">
          <h4 class="w3-wide"><b>Program specific scholarships</b></h4>
          <span class="w3-opacity">and more</span>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Sign Up</button>
        </li>
      </ul>
    </div>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <h3>Address</h3>
      <p>186 Princeton Hightstown Rd</p>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>Princeton, New Jersey, US</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +1 1515151515</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>support@bitsgen.ai</p>
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
      <div class="w3-section">      
        <label>Name</label>
        <input class="w3-input" type="text" name="Name" required>
      </div>
      <div class="w3-section">      
        <label>Email</label>
        <input class="w3-input" type="text" name="Email" required>
      </div>
      <div class="w3-section">      
        <label>Message</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>  
      <input class="w3-check" type="checkbox" checked name="Like">
      <label>I Like it!</label>
      <button type="submit" class="w3-button w3-right w3-theme">Send</button>
      </form>
    </div>
  </div>
</div>

<!-- Image of location/map -->
<img src="/static/images/map2.jpg" class="w3-image w3-greyscale-min" style="width:100%;">

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Follow Us</h4>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p>Powered by <a href="https://www.bitechsolutions.net/" target="_blank">bitsgen.ai</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>